################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/MyWebSolution
/ConfigCenter/DfConfig/.vs/DfConfig
/ConfigCenter/DfConfig/bin/Debug/net6.0
/ConfigCenter/DfConfig/obj
/Helper/DfHelper/.vs/DfHelper
/Helper/DfHelper/bin/Debug/net6.0
/Helper/DfHelper/obj
/Helper/DfHelper.Grpc/bin/Debug/net6.0
/Helper/DfHelper.Grpc/obj
/Helper/.vs/Helper
/Helper/DfHelper.EF/obj
/ConfigCenter/DfConfig.Model/bin/Debug/net6.0
/ConfigCenter/DfConfig.Model/obj
/Common/DfCommon.Model/bin/Debug/net6.0
/Common/DfCommon.Model/obj
/ConfigCenter/DfConfig.Service/bin/Debug/net6.0
/ConfigCenter/DfConfig.Service/obj
/Helper/DfHelper.EF/bin/Debug/net6.0
